*{
    font-family: 'Raleway', sans-serif;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #FAFBFD;

}

/* ?------------------------------------------- HERO ------------------------------------------- */

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 1px solid transparent;
}

.nav {
    margin-top: 40px;
    display: flex;
    height: 90px;
    width: 100%;
}

.container-logo{
    padding-top: 20px;
    padding-left: 45px;
    height: 100%;
    width: calc(100% - 1100px);
}

.container-links  {
    display: flex;
    width: 800px;
    align-items: stretch;
    line-height: 60px;
}

.container-links > div {
    font-weight: bold;
    width: 150px;
    margin: 10px;
    text-align: center;
}

.nav-links{
    text-decoration: none;
    color: #000000;
}

.download-container {
    width: 400px;
    float: right;
    position: relative;
    padding: 20px;
}

.download-bttn {
    line-height:2.5;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    width: 190px;
    flex-basis: 300px;
    color: #FCFDFE;
    background-color: #4285F4;
    border-radius: 5px;
    border: 0px;
}


.red-shape {
    position: absolute;
    background-color: #EC5863;
    width: 400px;
    height: 100%;
    right: 0px;
    border-radius: 30px 0px 0px 30px;
    z-index: -1;
}

.started-container {
    margin-top: 140px;
    display: flex;
}

.started-left {
    margin-top: 30px;
    height: 300px;
    width: 600px;
    padding-left: 50px;
    margin-left: 20px;
}

.started-title {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 60px;
}

.title-color {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #4285F4;
}

.started-text {
    font-size: 20px;
    color: #616161;
}

.started-bttn{
    height: 40px;
    width: 150px;
    color: #FCFDFE;
    font-size: 15px;
    font-weight: bold;
    background-color: #EC5863;
    border-radius: 5px;
    border: 0px;
}

.started-image {
    margin-left: 550px;
}

.hero-video-container {
    height: 120px;
    margin-top: 150px;
}

.hero-play-bttn{
    border: 0px;
    background-color: transparent;
}

.video-cont {
    height: 70px;
    width: 300px;
    margin-left: 70px;
    margin-top: 25px;
}

.hero-play-title{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Rubik', sans-serif;
    color: #B0B0B0;
    font-weight: 400;
    font-size: 16px;
}

.hero-play-text{
    position: absolute;
    margin-top: 23px;
    margin-left: 10px;
    font-family: 'Rubik', sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}

/* ?--------------------------------------- SECOND PAGE --------------------------------------- */

.app-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 1px solid transparent;
}

.app-content {
    display: flex;
    width: 65%;
    margin: auto;
    margin-top: 10%;
}

.app-content-right {
    margin: auto;
}

.app-title{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 60px;
}

.app-title-color {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #EC5863;
}

.app-text{
    color: #616161;
    font-size: 20px;
}

.app-bttn {
    height: 40px;
    width: 150px;
    color: #FCFDFE;
    font-size: 15px;
    font-weight: bold;
    background-color: #EC5863;
    border-radius: 5px;
    border: 0px;
}

/* ?---------------------------------------- THIRD PAGE ---------------------------------------- */

.experts-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 1px solid transparent;
}

.experts-shape {
    color: #FFFFFF;
    width: 1200px;
    height: 150px;
    margin: auto;
    margin-top: 10%;
    border-radius: 16px;
    box-shadow: 0px 2px 24px 0px #587EEC26;
    z-index: -1;
    display: flex;
    
}

.stats {
    margin: auto;
    text-align: center;
    
}

.experts-color {
    color: #EC5863;
    font-family: Rubik , sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0.14em;
    text-align: center;

}

.experts-color-text {
    color: #000000;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.3em;
}

.experts-content {
    display: flex;
    width: 85%;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}

.experts-content-left {
    padding-top: 4%;
}

.experts-content-right {
    margin-left: 20%;
}

/* ?---------------------------------------- FOURTH PAGE ---------------------------------------- */

.features-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 1px solid transparent;
}

.title-block{
    height: fit-content;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 6%;
}

.title-features {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #EC5863;
}

.healthcare-cards {
    width: 85%;
    margin: auto;
    margin-top: 5%;
    height: fit-content;
    display: flex;
}

.health-card {
    margin: auto;
    width: 25%;
    height: 400px;
    text-align: center;
    padding-top: 4%;
    border-radius: 16px;
    box-shadow: 0px 2px 24px 0px #587EEC26;
}

.card-title{
    font-family: Rubik;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.08em;
    text-align: center;
    
}

.mobile-apps{
    display: flex;
    width: 30%;
    margin: auto;
    margin-top: 5%;
    height: fit-content;
}

.app-link-bttn {
    background-color: transparent;
    height: min-content;
    margin: auto;
    
}

.shape23{
    z-index: -1;
    margin-left: 9%;
    margin-top:24%;
    position: absolute;
}